GITHUB_APP_ID=REPLACE_WITH_GITHUB_APP_ID
GITHUB_APP_CLIENT_ID=REPLACE_WITH_GITHUB_APP_CLIENT_ID
GITHUB_APP_CLIENT_SECRET=REPLACE_WITH_GITHUB_APP_CLIENT_SECRET
GITHUB_APP_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_LOCAL_DEVELOPMENT_KEY\n-----END PRIVATE KEY-----\n"
DASHBOARD_SESSION_LOOKUP_SECRET=REPLACE_WITH_LOCAL_SESSION_LOOKUP_SECRET
DASHBOARD_TOKEN_ENCRYPTION_SECRET=REPLACE_WITH_LOCAL_TOKEN_ENCRYPTION_SECRET
